:root {
    --primary-500: 0 51 102;
    /* #003366 */
    --primary-600: 0 45 90;
    --primary-700: 0 40 80;
    --primary-800: 0 34 68;

    --success-500: 22 163 74;
    --warning-500: 255 215 0;
    --danger-500: 220 38 38;
}

.dark {
    --primary-500: 0 51 102;
    --gray-950: 0 34 68;
    --gray-900: 0 40 80;
}